# Add "Bin" to path
PATH=~/Bin:$PATH

PLATFORM='unknown'
unamestr=`uname`
if [[ "$unamestr" == 'Linux' ]]; then
   PLATFORM='linux'
elif [[ "$unamestr" == 'Darwin' ]]; then
   PLATFORM='mac'
fi

# Absolute path to this script, e.g. /home/user/bin/foo.sh
echo "Current platform $PLATFORM"
if [[ $PLATFORM == 'mac' ]]; then
    MYRC=$(greadlink -f "$0")
else
    MYRC=$(readlink -f "$0")
fi
echo "MYRC path: $MYRC"

# Aliases
alias editmyrc="vim $MYRC"
alias ee=exit
alias s=screen
alias sl='screen -list'
alias reload='. ~/.zshrc'
alias g=git
alias v=vim
alias m=man

# Exporting for lightline
export TERM=xterm-256color

# Useful functions
# LAN ip.
alias ipl='ifconfig | grep "inet " | grep -v 127.0.0.1 | cut -d" " -f2'
# Public ip
alias ipx="curl http://bot.whatismyipaddress.com | grep -E '[0-9.]+'"

# vim: set ft=sh:
